.login-section {
  background: 
    linear-gradient(rgba(7,5,1,0.25), rgba(7,5,1,0.25)),
    url('./login-bg.jpg') center center / cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.login-box {
  background: rgba(7, 5, 1, 0.85);
  border: 2px solid #E84E2A;
  box-shadow: 0 0 20px rgba(232,78,42,0.4);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.login-box h1 {
  color: #E84E2A;
  margin-bottom: 1.5rem;
}

.login-box input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 6px;
}

.login-box button {
  background-color: #E84E2A;
  color: #070501;
  font-weight: bold;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box button:hover {
  background-color: #ff6433;
}

.register {
  margin-top: 1rem;
  color: #ccc;
}

.register a {
  color: #E84E2A;
  text-decoration: none;
}
