<div class="juego2-contenedor" [ngClass]="{
  'estado-descansando': estado === 'descansando',
  'estado-cazando': estado === 'cazando'
}">

  <div class="screamer-overlay" *ngIf="juegoTerminado">
    <img src="assets/Images/Awake.png" alt="SCREAMER">
  </div>

  <div class="juego-ui" *ngIf="!juegoTerminado">
    <div class="imagen-monstruo">
      <img src="assets/Images/SleepingMonster.png" *ngIf="estado === 'descansando'" alt="Monstruo descansando">
      <img src="assets/Images/Awake.png" *ngIf="estado === 'cazando'" alt="Monstruo cazando">
    </div>
    
    <div class="instrucciones">
      <h2 *ngIf="estado === 'descansando'" class="texto-seguro">
        PUEDES MOVERTE... (Cambio en {{ tiempoRestante }}s)
      </h2>
      <h2 *ngIf="estado === 'cazando'" class="texto-peligro">
        ¡¡¡NO TE MUEVAS!!! (Cambio en {{ tiempoRestante }}s)
      </h2>
    </div>
  </div>

</div>