<div class="juego3-contenedor">

  <div class="screamer-overlay" *ngIf="juegoTerminado">
    <img src="assets/Images/screamer_juego3.jpg" alt="SCREAMER">
  </div>

  <div class="juego-ui" *ngIf="!juegoTerminado">
    
    <div class="visor-cuarto">
      <img class="img-normal" src="assets/Images/image.png" alt="Un cuarto vacío">
      
      <img 
        class="img-anomalia" 
        src="assets/Images/anomalia.png" 
        alt="Una cara!" 
        *ngIf="mostrandoAnomalia"
      >
    </div>

    <div class="controles-ui">
      <h3>Vidas: {{ vidas }}</h3>
      <p>{{ mensajeFeedback }}</p>
      <button class="btn-reportar" (click)="reportarAnomalia()">
        Reportar Anomalía
      </button>
    </div>

  </div>
</div>