<div class="juego1-contenedor">

  <div class="screamer-overlay" *ngIf="juegoTerminado">
    <img src="assets/Images/Scream.png" alt="SCREAMER">
  </div>

  <div class="juego-ui" *ngIf="!juegoTerminado">
    <h2>Juego 1: No Respires</h2>
    <p>...está cerca. No dejes que te oiga.</p>

    <div class="capa-vision" [style.opacity]="vision">
      <img src="assets/Images/Pasilloa.jpg" alt="Pasillo oscuro">
    </div>

    <div class="barra-peligro-fondo">
      <div class="barra-peligro-relleno" [style.width.%]="nivelDePeligro"></div>
    </div>

    <div class="texto-peligro">
      PELIGRO: {{ nivelDePeligro | number:'1.0-0' }}%
    </div>

  </div>

</div>
