html, body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;  
  scrollbar-width: none; 
  width: 100%;
}


body::-webkit-scrollbar {
  display: none;
}


html {
  font-size: 16px;
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #f5f5f5;
}
